@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import url('../css/bootstrap.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../css/mobile-nav.css');

#jqcheck { background: #fff9d7; text-align: center; color: #333; padding: 10px 0px; font-size: 13px; font-weight: bold; position: fixed; z-index: 9991; width: 100%; font-family: Arial, Helvetica, sans-serif; }
* { margin: 0px; padding: 0px; }

body {font-family: 'Nunito Sans', sans-serif; color: #2f2f2f; font-size: 15px; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p { margin: 0; padding: 0; width: 100%; }


p { font-weight: 400; line-height: 22px;padding:0px; margin:0px; }
.dsply-none-mob{
    display: none !important;
}

/*** theme sections padding ***/
.sec-padding-100 { padding:100px 0;} .sec-padding-90 { padding:90px 0;}
.sec-padding-80 { padding:80px 0;} .sec-padding-70 { padding:70px 0;}
.sec-padding-60 { padding:60px 0;} .sec-padding-xlarge { padding:50px 0; }
.sec-padding-large { padding:40px 0; } .sec-padding-medium { padding:30px 0; }
.sec-padding-small { padding:25px 0; } .sec-padding-xsmall { padding:10px 0; }

/*** theme sections margin ***/
.sec-margin-100 { margin:100px 0;} .sec-margin-90 { margin:90px 0;}
.sec-margin-80 { margin:80px 0;} .sec-margin-70 { margin:70px 0;}
.sec-margin-60 { margin:60px 0;} .sec-margin-xlarge { margin:50px 0; }
.sec-margin-large { margin:40px 0; } .sec-margin-medium { margin:30px 0; }
.sec-margin-small { margin:25px 0; } .sec-margin-xsmall { margin:10px 0; }

/*** no padding, no marging ***/
.p-0 { padding:0; }
.pt-0 { padding-top:0px; } .pb-0 { padding-bottom:0px; }
.pl-0 { padding-left:0px; } .pr-0 { padding-right:0px; }

.m-0 { margin:0; }
.mt-0 { margin-top:0px; } .mb-0 { margin-bottom:0px; }
.ml-0 { margin-left:0px; } .mr-0 { margin-right:0px; }

p strong { color: black; }
p span { color: black; }
a:hover { text-decoration: none; }
a:focus { outline: none; text-decoration: none; }
img { border: 0px; outline: none; }
/*img { max-width: 100%;  }*/
ul,li { list-style-type: none; }
.relative { position:relative; }

h2,.h2 { color: #333333;  line-height: 1; font-weight: 600; padding: 0 0 15px 0; position: relative; 
 letter-spacing: -1px; }
h2 span,.h2 span { color:var(--primary-color);}

a { text-decoration: none; }

/* header 
------------------------------------*/

.nav-area-full {padding: 20px 0;width: 100%;}
.logo { margin: 0; float: left; }
.logo a { display: block; }
.top-area { display: inline-block; width: 100%; }

.main-menu { width: 100%; display: inline-block; float: right; margin: 0;  }
.main-menu > ul {margin: 0px;}
.main-menu > ul > li {float: left;position: relative;}
.main-menu > ul > li:last-child { padding-right: 0px; }
.main-menu > ul > li:before {content: "";}
.main-menu > ul > li:first-child:before { display: none; }
.main-menu > ul > li > a {padding: 30px;font-size: 14px;color: rgba(0,0,0,.7);padding-right: .5rem;/* padding-left: .5rem; */}

.main-menu > ul > li.active > a,
.main-menu > ul > li > a:hover,
.main-menu > ul > li > a.active,
.main-menu > ul > li > a:focus
 { color: var(--primary-color); }    

.dropdown{width:200px; position: absolute; top: 100%; left: 0%; visibility: hidden; opacity: 0; z-index:999999; padding:0px;  background:rgba(255,255,255,0.9); 
 border-top:1px solid #cccccc;
 border-right:1px solid #cccccc;
 border-left:1px solid #cccccc;
 border-bottom:5px solid var(--secondary-color);
  }
.main-menu > ul > li:hover .dropdown{ visibility: visible; /* shows sub-menu */ opacity: 1; left: 0; }

.dropdown > ul{ list-style:none; }
.dropdown > ul > li{  }
.dropdown > ul > li:before{ display:none; } 
.dropdown > ul > li+li{ border-top:1px dotted #457584;}
.dropdown > ul > li > a{ color:#133569; font-size:13px; text-decoration:none;
padding:8px 10px 8px 15px; display: block; }
.dropdown > ul > li > a:hover{  color:black; background:none; }
.dropdown > ul > li > a:hover:before    { display:none; }
.double-drop { width: 400px!important; }

.dropdown > ul > li > ul {  display: none; }
.dropdown > ul > li.level2:hover > ul  { display: block; }

ul.navbar-nav {
    display: block;
}

ul.navbar-nav li {
    display: inline-block;
}

a.nav-link {
    display: block;
    padding: .5rem 0.7rem !important;
    color: rgba(0,0,0,.7);
}

.home-categories-wrap a {
    color: #2f2f2f;
    margin-bottom: 1rem;
    display: block;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    position: relative;
    padding: 0 0 0 20px;
    font-weight: 400;
}

.home-categories-wrap a:before{
    position: absolute;
    content: "";
    left: 0px;
    top: 5px;
    background:url('../images/sprite.png') no-repeat -182px -66px;
    width: 13px;
    height: 13px;

}


.la.la-dollar{
    background:url('../images/sprite.png') no-repeat -58px -11px;
    width: 10px;
    height: 16px;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 3px 0 2px;
}

 .la.la-home{
    background:url('../images/sprite.png') no-repeat -5px -12px;
    width: 18px;
    height: 15px;
    float: left;
    position: relative;
    top: 2px;
    margin: 0 3px 0 0;
}

.ct-form-fld:before {
    content: "";
    position: absolute;
    background:url('../images/sprite.png') no-repeat -249px -65px;
    width: 12px;
    height: 15px;
    top: 14px;
    left: 8px;
}

.la.la-briefcase {
    background:url('../images/sprite.png') no-repeat -146px -11px;
    width: 18px;
    height: 15px;
    float: left;
    position: relative;
    top: 3px;
    margin: 0 3px 0 3px;
}
i.la.la-save {
    background:url('../images/sprite.png')  no-repeat -5px -65px;
    width: 17px;
    height: 16px;
    float: left;
    position: relative;
    top: 3px;
    margin: 0 3px 0 0px;
}

i.la.la-sign-in {
    background:url('../images/sprite.png') no-repeat -58px -63px;
    width: 15px;
    height: 18px;
    float: left;
    position: relative;
    top: 3px;
    margin: 0 3px 0 0;
}
i.la.la-user-plus{
    background:url('../images/sprite.png') no-repeat -126px -62px;
    width: 21px;
    height: 20px;
    float: left;
    position: relative;
    top: 3px;
    margin: 0 3px 0 0;
}



i.la.la-file-o{
    background:url('../images/sprite.png') no-repeat -269px -11px;
    width: 14px;
    height: 16px;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 3px 0 3px;
}

i.la.la-envelope-o {
    background:url('../images/sprite.png')  no-repeat -345px -13px;
    width: 17px;
    height: 12px;
    float: left;
    position: relative;
    top: 4px;
    margin: 0 2px 0 3px;
}



.la.la-book{
    background:url('../images/sprite.png') no-repeat -128px -97px;
    width: 19px;
    height: 15px;
    float: left;
    position: relative;
    top: 4px;
    margin: 0 5px 0 0;
}

.la.la-user{
    background:url('../images/sprite.png') no-repeat -8px -102px;
    width: 13px;
    height: 14px;
    display: inline-block;
    margin: 0 2px 0 0px;
}

.la.la-clock-o{
    background:url('../images/sprite.png') no-repeat -7px -157px;
    width: 16px;
    height: 14px;
    display: inline-block;
    margin: 0 2px 0 0px;
    position: relative;
    top: 2px;
    left: 5px;
}

.la.la-eye{
    background:url('../images/sprite.png') no-repeat -5px -133px;
    width: 19px;
    height: 11px;
    display: inline-block;
    margin: 0 0 0 5px;
}

.la.la-link{
    background:url('../images/sprite.png') no-repeat -54px -103px;
    width: 17px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
}

.home-categories-wrap h4 {
    font-weight: 400;
}

.home-blog-section h1 {
    font-size: 2.25rem;
    font-weight: 400;
}

.blog-card-wrap  h4 {
    font-size: 1.35rem;
}

.blog-card-wrap p {
    color: #878787;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.home-blog-section {
    background: #f8fafc;
}

.blog-card-footer.border-top.pt-3.mt-3 {
    color: #878787;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
}
.btn-success {
    color: #fff !important;
    background-color: #38c172 !important;
    border-color: #38c172 !important;
}
.btn {
    border-radius: 0 !important;
}
.btn-success:hover {
    color: #fff !important;
    background-color: #2fa360 !important;
    border-color: #2d995b !important;
}
.navbar-brand img {
    max-height: 25px;
    width: auto;
}
.bg-dark {
    background-color: #343a40!important;
}
#main-footer a {
    color: #38c172;
}
.main-footer {
    color: #C7C9C9;
}
.truncate {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}
#main-footer h4 {
    font-size: 1.35rem;
    color: #f8f9fa;
}
/* tabs custom (place nav and tabs anywhere separately)
------------------------------------*/
.tabs-custom-nav li a {color: black; }
.tabs-custom-nav li a.current {color: #0076FB;border-bottom: 3px solid #0076FB;}
.tabs-custom .tab-content-panel {  display: none;overflow: hidden;width: 100%;}
.tabs-custom .tab-content-panel.selected {display: block;}
ul.tabs-custom-nav li {
    display: inline-block;
}

ul.tabs-custom-nav li a {
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    display: block;
    border: 3px solid transparent;
}

ul.tabs-custom-nav {
    margin: 20px 0 30px;
    border-bottom: 1px solid #d3d4d5;
}

.tabs-custom-nav li a:hover {
    border: 3px solid #0076FB;
    color: #0076FB;
}

.tabs-custom.general h3 {
    font-size: 35px!important;
    line-height: 40px!important;
    font-weight: 700!important;
}
p.tab-txt {
    width: 1140px !important;
    margin: 0 auto;
}
.tabs-custom.general p {
    font-size: 16px!important;
    line-height: 24px!important;
}

.tabs-custom.general a {
    font-weight: 700;
    color: #fff;
    background-color: #009fd9;
    border-color: #009fd9;
    padding: 12px 22px;
    display: inline-block;
    border-radius: 4px;
    margin: 20px 0 0 0;
    min-height: 48px;
    line-height: 24px;
    font-size: 16px;
}

.tab-form form {
    border-color: #e9eced!important;
    border-left-style: solid!important;
    border-bottom-style: solid!important;
    border-bottom-width: 1px!important;
    border-top-style: solid!important;
    border-top-width: 1px!important;
    border-left-width: 1px!important;
    border-right-width: 0!important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    float: left;
    margin: 20px 0 0;
}

.tab-form input {
    height: 45px;
    padding: 0 10px;
    border: 0;
    width: 50%;
    float: left;
    outline: 0;
}

.ct-form-fld:after {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    width: 1px;
    background-color: #e9eced;
}

.ct-form-fld {
    position: relative;
    float: left;
    width: 30%;
}
.slider-wrapper .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper {
    border-bottom: 1px solid #d3d4d5;
    margin: 0 0 30px;
}
input#sbmt-btn {
    width: 107px;
    float: left;
    padding: 0 !important;
    background-color: #009fd9;
    border: 2px solid transparent;
    color: #fff;
    min-height: 0;
    font-weight: bold;
}
/* sliderxs 
------------------------------------*/
.sliderxs { }
/* slick Dots .sliderxs slider */
.sliderxs .slick-dots { position: absolute; bottom: 0px; right: 0px; left: 0px; display:
 block; padding: 0; margin: 0 auto; border-radius: 3px; list-style: none; text-align:center;  }
.sliderxs .slick-dots li { position: relative; display: inline-block; margin: 0 6px 0 0; 
padding: 0; cursor: pointer; }
.sliderxs .slick-dots li button { font-size: 0; line-height: 0; display: block;
  width: 12px; height: 12px; padding: 0; cursor: pointer; color: transparent;  outline: none; 
  background: #10171f; border:none; border-radius: 200px; }
.sliderxs .slick-dots li.slick-active button { background: var(--primary-color); border:none; }
.sliderxs .slick-dots li button:before { display:none; }
.sliderxs .col-lg-2:focus, .sliderxs .col-lg-3:focus, .sliderxs .col-lg-4:focus, .sliderxs .col-lg-6:focus
 { outline:none; }
.ct-form-fld input {
    width: 100%;
    padding: 0 0 0 25px !important;
}
a.life_moments_task_link span {
    position: relative;
    display: block;
    font-weight: 700;
    color: rgb(41, 43, 50);
    font-size: 11px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0px 24px;
    padding: 12px 0px 4px;
    border-bottom: 1px solid rgb(246, 248, 253);
}

a.life_moments_task_link {
    position: relative;
    display: inline-block !important;
    vertical-align: top;
    width: 300px;
    height: 150px;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    margin: 10px !important;
    background: white !important;
    border-radius: 4px !important;
}

.life_moments_task img {
    height: 32px;
    width: 32px;
    margin-right: 12px;
    border-radius: 50%;
}

.life_moments_task h5 {
    width: 160px;
    height: 60px;
    white-space: pre-line;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(41, 43, 50);
    overflow: hidden;
}

.life_moments_task {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 12px 24px 0px;
}

.life_moments_task p {
    width: 48px;
    font-size: 22px;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: rgb(41, 43, 50);
    text-align: right;
    margin-top: 0px;
}
.ct-str-count-box {
    position: absolute;
    bottom: 0px;
    display: block;
    width: calc(100% - 48px);
    margin: 0px 24px;
    padding: 6px 0px;
    border-top: 1px solid rgb(246, 248, 253);
}

.ct-str-count-box svg {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    fill: rgb(233, 165, 44);
}
section.home-task-sec {
    overflow: hidden;
    padding: 80px 0;
}
.floating-tasks-container .floating-tasks-container-wrapper:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.floating-tasks-container:nth-child(2) .floating-tasks-container-wrapper:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.floating-tasks-container:nth-child(2) {
    float: right;
}
.home-task-container.home-task-container-align {
    -webkit-transform: translateX(5%);
    -ms-transform: translateX(5%);
    transform: translateX(5%);
    float: right;
}
.floating-tasks-container:nth-child(2) .floating-tasks-container-wrapper {
    -webkit-animation: slideReverse 150s linear infinite;
    animation: slideReverse 150s linear infinite;
}
.floating-tasks-container {
    position: relative;
}
.home-task-container {
    margin: 0 auto;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.floating-tasks-container-wrapper {
    -webkit-animation: slide 150s linear infinite;
    animation: slide 150s linear infinite;
}
.floating-tasks-container-wrapper {
    -webkit-transform-style: preserve-3d;
    white-space: nowrap;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
}
.ct-str-count {
    display: inline-block;
    vertical-align: middle;
    color: rgb(41, 43, 50);
    font-size: 14px;
}
li {}

section.home-task-sec ul.tabs-custom-nav {
    width: 100%;
    border: 0;
}

section.home-task-sec ul.tabs-custom-nav li a {
    padding: 12px 5px 16px;
    cursor: pointer;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    color: #008fb4;
    font-size: 22px;
}

section.home-task-sec .tabs-custom.general p {
    width: 1140px;
    margin: 0 auto;
    color: #545a77;
    padding: 0 0 30px;
    font-size: 16px !important;
}

section.home-task-sec .tabs-custom-nav li a:hover {
    border: 3px solid transparent;
}

section.home-task-sec h2 {
    font-weight: 700;
    color: #292b32;
    font-size: 32px;
    margin-bottom: 0;
    padding: 0;
}

section.home-task-sec .tabs-custom-nav li a.current {
    border-bottom: 3px solid #008fb4;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(-1920px, 0, 0);
        transform: translate3d(-1920px, 0, 0)
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(-1920px, 0, 0);
        transform: translate3d(-1920px, 0, 0)
    }
}

@-webkit-keyframes slideReverse {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(1920px, 0, 0);
        transform: translate3d(1920px, 0, 0)
    }
}

@keyframes slideReverse {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        -webkit-transform: translate3d(1920px, 0, 0);
        transform: translate3d(1920px, 0, 0)
    }
}





@media only screen and (max-width: 1200px) {
p.tab-txt {
    width: 93% !important;
    margin: 0 auto;
}
}
@media only screen and (max-width: 1199px) {
a.nav-link {
    font-size: 14px;
    display: block;
    padding: .5rem 0.4rem !important;
    color: rgba(0,0,0,.7);
}
p.tab-txt {
    width: 80% !important;
    margin: 0 auto;
}
}
@media only screen and (max-width: 991px) {
ul.navbar-nav {
    display: block;
    text-align: center;
    margin: 20px 0 0 0;
}
p.tab-txt {
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
}
section.home-task-sec ul.tabs-custom-nav li a {
    font-size: 16px;
}
section.home-task-sec h2 {
    font-size: 28px;
    text-align: center;
}
section.home-task-sec ul.tabs-custom-nav {
    width: 100%;
    border: 0;
    text-align: center;
}
.tab-form input {
    height: 45px;
    padding: 0 10px;
    border: 0;
    width: 45%;
    float: left;
    font-size: 12px;
    outline: 0;
}
.ct-form-fld {
    position: relative;
    float: left;
    width: 35%;
}
.ct-form-fld input{
    width: 100%;
}
input#sbmt-btn {
    width: 20%;
    float: left;
    padding: 0 !important;
    background-color: #009fd9;
    border: 2px solid transparent;
    color: #fff;
    min-height: 0;
    font-weight: bold;
}
a.nav-link {
    font-size: 14px;
    display: block;
    padding: .5rem 0.4rem !important;
    color: rgba(0,0,0,.7);
}
.logo img {
    width: 150px;
}
}
@media only screen and (min-width: 768px) {

}
@media only screen and (max-width: 767px) {

}

.register-account-box {
    text-align: center;
    color: rgba(0,0,0,.6);
}
.jf-shadow {
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,.35);
}
.p-3 {
    padding: 1rem!important;
}
.register-account-box {
    text-align: center;
    color: rgba(0,0,0,.6);
}
.register-account-box .icon i {
    font-size: 5rem;
}
